<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <div style="width: 100%; height: auto; text-align: left;">
    <a href="/secrets"><-Back to home</a>
   </div>
    <h1 class="display-3">Share Your Secret</h1>
    <form action="/shareSecret" method="POST">
    <div class="form-group">
        <label for="title">Your Secret</label>
        <input type="text" class="form-control" required name="title"/>    
    </div>
    <button type="submit" class="btn btn-dark">Share</button>  
    </form>


  </div>
</div>

<%- include('partials/footer') %>
