<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Found the Secret Chamber</h1>
    <div id="secrets-container">
      <% secrets.forEach(secret => { %>
      <p class="secret-text">
        <%= secret.title %>
      </p>
      <% }) %>
    </div>
    <hr>
    <a class="btn btn-light btn-lg" id="load-more-secrets" style="margin-right: 0.5rem;" role="button">Load More Secrets</a>
    <a class="btn btn-dark btn-lg" href="/ShareSecret" role="button">Share Your Secret</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button" style="margin-right: 0.5rem;">Log Out</a>
  </div>
</div>

<script>
  let offset = 4;

  document.getElementById('load-more-secrets').addEventListener('click', () => {
    fetch(`/load-more-secrets?offset=${offset}`)
      .then(response => response.json())
      .then(data => {
        const secretsContainer = document.getElementById('secrets-container');
        data.secrets.forEach(secret => {
          const secretElement = document.createElement('p');
          secretElement.className = 'secret-text';
          secretElement.textContent = secret.title;
          secretsContainer.appendChild(secretElement);
        });
        offset += 4;
      })
      .catch(error => console.error('Error loading more secrets:', error));
  });
</script>

<%- include('partials/footer') %>
